td.details-control {
    background: url('../css/open_eye_.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../css/close_eye_.png') no-repeat center center;
}